.notifications-list-header{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}
.notifications-list-header span{
  font-size: 20px;
}
.profiles-list-header{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}
.events-list-header{
  font-size: 20px;
  text-align: center;
}
.profiles-list-header span{
  font-size: 20px;
}
.notifications-list-see-more{
  text-align: center;
}
.events-list-see-more{
  text-align: center;
}

.container-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
  height: auto;
  color: $light-gray;
  margin-top: 10px;
  text-align: center;

}

.schedule-button{
  width: auto;
  margin: 150px 30px;
}

.schedule-button a{
  text-align: center;
  color: $light-gray;
  padding: 70px 90px;
  border-radius: 1px;
  background-color: $green;
  transition: background 0.3s ease;
  width: 100%;
}


.schedule-button a:hover{
  background: #1BCB7F;
  color: $light-gray;
}


.notification-button{
  width: auto;
  margin: 150px 30px;
}

.notification-button a{
  text-align: center;
  color: $light-gray;
  padding: 70px 90px;
  border-radius: 1px;
  background-color: $green;
  transition: background 0.3s ease;
  width: 100%;
}


.notification-button a:hover{
  background: #1BCB7F;
  color: $light-gray;
}

