.notifications-list-header{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}
.notifications-list-header span{
  font-size: 20px;
}
.profiles-list-header{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}
.events-list-header{
  font-size: 20px;
  text-align: center;
}
.profiles-list-header span{
  font-size: 20px;
}
.notifications-list-see-more{
  text-align: center;
}
.events-list-see-more{
  text-align: center;
}
.schedule-button {
  width:100%;
  height: calc( ( 100vh - 140px - 20px)/ 2 );
  min-height: 122px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 2px solid $blue;
  color: $blue;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-wrap: break-word;
}
.schedule-button:hover {
  background: $light-blue;
  color: $blue;
}
.notification-button {
  width:100%;
  height: calc( ( 100vh - 140px - 20px)/ 2 );
  min-height: 122px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 20px;
  color: $light-gray;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $blue;
  overflow-wrap: break-word;
}
.notification-button:hover {
  background: #137dad;
  color: $light-gray;
}



