<div class="notifications-list">
  <div class="notifications-list-header">
    <span>Latest Notifications</span>
  </div>
  <% @notifications.each do |notification| %>
    <%= render 'shared/notification-card', notification: notification %>
  <% end %>
</div>

