<div class="full-height container-notification">
  <% if @notification.notification_type == "do"%>
    <%= render "shared/notification_do" %>
  <% elsif @notification.notification_type == "before"  %>
    <%= render "shared/notification_before" %>
  <% elsif @notification.notification_type == "missed"  %>
    <%= render "shared/notification_missed" %>
  <% elsif @notification.notification_type == "done"  %>
    <%= render "shared/notification_done" %>
  <% end %>
</div>
