// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
body{
  margin-top: 70px;
}

.full-height{
  height: calc(100vh - 70px);
}

.profiles-list{
  margin-bottom: 20px;
}
.notifications-list{
  margin-bottom: 20px;
}
.events-list{
  margin-bottom: 20px;
}
