<div class="footer">
  <div class="footer-links col-xs-12 col-md-6">
    <a href="https://www.facebook.com/caretaker4life" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/caretaker4life" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/RuiSMagalhaes/rails-Caretaker" target="_blank"><i class="fab fa-github"></i></a>
    <a href="mailto:support@caretaker.pt" target="_blank"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-copyright col-xs-12 col-md-6">
    <i class="far fa-copyright"></i> CARETAKER | Helper for life | <%= Time.now.to_date.year %>
  </div>
</div>
