<%=  unless current_user.patients.empty? || current_user.simple_view
   render 'events-list'
    end %>
<div class="events-list hidden-md hidden-lg">
  <div><%= render 'shared/calendar-day', events: @events %></div>
</div>
<div class="events-list hidden-xs hidden-sm">
  <div><%= render 'shared/calendar-week', events: @events %></div>
</div>
<%=  unless current_user.simple_view
   link_to "Add Event", new_profile_event_path(@profile), class: "btn-blue"
    end %>
