<% if user_signed_in? %>
  <script type="text/javascript">
    window.location.href="/profiles"  // put your correct path in a string here
  </script>
<% else %>
  <div class="landing-page">
    <div class="landing-page-container">
      <h1>CARETAKER</h1>
      <h3>Helper for life</h3>
      <p><%= link_to "Sign Up", new_user_registration_path, class: "btn-blue" %></p>
      <p>Already a user? Please <%= link_to "Sign In", new_user_session_path %></p>
    </div>
  </div>
    <div class="container-description ">
      <div class="description col-xs-12">
        <div class="subhead">WHO WE ARE</div>
        <h2>A HELPER FOR LIFE</h2>
        <p>We are a web-service that allows the connection between users.
        <strong>For what?</strong> To help you care of your loved ones.</p>
      </div>
      <div class="titles-features col-xs-12">
        <div class="subhead">WHAT WE PROVIDE</div>
        <h2>FEATURES SERVICES</h2>
      </div>
      <div class="landing-featutes-container col-xs-12">
        <div class="featute-one col-md-4">
          <img src="" alt="">
          hello
        </div >
        <div class="featute-two col-md-4">
          hello
        </div>
        <div class="featute-three col-md-4">
          hello
        </div>
      </div>

    </div>


<% end %>
