/* Main navbar */
.navbar-caretaker {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $blue;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 6px 0 $gray;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Logo */
.navbar-caretaker-brand img {
  height: 40px;
}

/* User Avatar */
.navbar-caretaker .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-caretaker-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar-caretaker-right-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

/* Left section */
.navbar-caretaker-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Basic navbar item */
.navbar-caretaker-item {
  cursor: pointer;
  padding: 0 20px;
  color: $light-gray;
}

/* Navbar link */
.navbar-caretaker-link {
  color: $light-gray;
  font-size: 14px;
  line-height: 50px;
  transition: 0.5s ease;
}
.navbar-caretaker-link:hover {
  color: $blue;
  text-decoration: none;
  background-color: $light-gray;
}

/* Dropdown menu */
.navbar-caretaker-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-caretaker-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $blue !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  transition: 0.5s ease;
}
.navbar-caretaker-dropdown-menu li > a:hover {
  background-color: $blue !important;
  color: $light-gray !important;
}
.navbar-caretaker-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
